.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 150px;
    padding: 50px 100px;
    background-color: white;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);

}

.home {
    margin: 0;
    font-weight: 700;
    text-decoration: none;
    color: #2c2c2c;
    margin-bottom: 30px;
    width: 100%;
}

.home a {
    font-size: 15px;
    color: #2c2c2c;
    text-decoration: none;
}

.info__header {
    display: flex;
    align-items: center;
}

.description {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.detail__title {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0px;
}

.detail__year {

    font-weight: 300;
    margin: 5px 10px;
}

.detail__genres li,
.detail__year {
    margin-right: 10px;
    font-size: 14px;
}